{% extends 'base.html.twig' %}

{% block title %}Dialotel - Home{% endblock %}

{% block body %}
<div class='container'>
    <div> 
        <h1>Bienvenue sur Dialotel</h1>
    </div>

    <h2 class="my-5">listes des missions :</h2>
        <div class="row">
           {% for ad in ads %}
               {% include "includes/ad.html.twig" with {'ad': ad} %}
           {% endfor %}
        </div>
</div>

{% endblock %}
